@model MVC_StokTakipOtomasyonu.MyModel.MyKategoriler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container" style="margin-top:1%">
    <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Yeni Kategori</button>
</div>

<div class="container" style="margin-top:1%">
    <table class="table table-striped table-bordered" id="tbl">
        <thead>
            <tr>
             
                <th>
                    ID
                </th>
                <td>
                    Kategori
                </td>
                <td>Açıklama</td>
                <td>Güncelle</td>
                <td>Sil</td>
            </tr>
        </thead>
        <tbody id="SetKategoriList">
            <tr id="Load" style="color:red">
                @*Listeleme bu bölüme aktarılacak*@

            </tr>

        </tbody>
    </table>
</div>
@using (Html.BeginForm("Ekle", "Kategoriler2", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Kategori Ekleme Sayfası</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            Kategori:@Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Açıklama:@Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group container">
                            <div style="float:left">
                                <input type="submit" name="Ekle" value="Ekle" class="btn btn-info" />
                            </div>
                            <div style="float:right">
                                <button class="btn btn-dark" data-dismiss="modal">
                                    Kapat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

@using (Html.BeginForm("Guncelle", "Kategoriler2", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal" id="MyModal2" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Modal Popup Kategori Güncelleme</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            ID:@Html.TextBoxFor(x => x.ID, new { @id = "id", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Kategori:@Html.TextBoxFor(x => x.Kategori, new { @id = "kategori", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            Açıklama:@Html.TextAreaFor(x => x.Aciklama, new { @id = "aciklama", @class = "form-control" })
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group container">
                            <div style="float:left">
                                <button class="btn btn-success">Güncelle</button>
                            </div>
                            <div style="float:right">
                                <button class="btn btn-dark" data-dismiss="modal">Kapat</button>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
}
@using (Html.BeginForm("Sil", "Kategoriler2", FormMethod.Post))
{
    <div class="container">
        <div class="modal" id="MyModal3" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Modal Popup Kategori Silme</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            ID:@Html.TextBoxFor(x => x.ID, new { @id = "id2", @class = "form-control",@readonly="true" })
                        </div>
                        <div class="form-group">
                            Kategori:@Html.TextBoxFor(x => x.Kategori, new { @id = "kategori2", @class = "form-control",@readonly="true" })
                        </div>
                        <div class="form-group">
                            Açıklama:@Html.TextAreaFor(x => x.Aciklama, new { @id = "aciklama2", @class = "form-control" ,@readonly="true"})
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group container">
                            <div style="float:left">
                                <button class="btn btn-danger">Sil</button>
                            </div>
                            <div style="float:right">
                                <button class="btn btn-dark" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#Load").html("Yükleniyor...");
    //GetKategoriList JsonResult olarak oluşturulacak
    $.get("/Kategoriler2/GetKategoriList", null, DataBind)

    //liste  dan çağrılacak
    function DataBind(liste) {
        var setData = $("#SetKategoriList");
        for (var i = 0; i < liste.length; i++) {
            var data = "<tr>" +
                "<td>" + liste[i].ID + "</td>" +
                "<td>" + liste[i].Kategori + "</td>" +
                "<td>" + liste[i].Aciklama + "</td>" +
                "<td>" + "<a href='#' class='btn btn-success' onclick='EditCategory(" + liste[i].ID + ")'>Güncelle</a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteCategory(" + liste[i].ID + ")'>Sil</a>" + "</td>" +
                "</tr>";
            setData.append(data);
            $("#Load").html(" ");
        }
    }

    function EditCategory(ID) {
        var url = "/Kategoriler2/GetEditDeleteCategory?ID=" + ID;
        $("#MyModal2").modal();
        $.ajax({

            url: url,
            type: "get",
            success: function (data) {

                var obj = JSON.parse(data);
                $("#id").val(obj.ID);
                $("#kategori").val(obj.Kategori);
                $("#aciklama").val(obj.Aciklama);
            }

        });


    }
    function DeleteCategory(ID) {
        var url = "/Kategoriler2/GetEditDeleteCategory?ID=" + ID;
        $("#MyModal3").modal();
        $.ajax({

            url: url,
            type: "get",
            success: function (data) {

                var obj = JSON.parse(data);
                $("#id2").val(obj.ID);
                $("#kategori2").val(obj.Kategori);
                $("#aciklama2").val(obj.Aciklama);
            }

        });


    }

</script>

